body {
    background-color: #0000;
    margin: 0;
}
header {
    background-color: rgb(185, 115, 121);
    color: #ffff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}
h1 {
   font-family: 'Didact Gothic', sans-serif;
   font-weight: 700;
   font-size: 2.5em;
   margin: 0;
   text-shadow: 1px 1px #0000; 
}
h2 {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0,5em 0;
    text-shadow: 1px 1px #0000; 
}
#squareContainer {
    margin: 1em auto;
    max-width: 450px;
}
.square {
    width: 30%;
    margin: 1.6%;
    padding-top: 30%;
    float: left;
    border-radius: 30px;
    transition: background 0.4s;
}
#bar {
    background-color: #fff;
    align-items: center;
    height: 50px;
    margin-top: 20;
}
#setting {
    max-width: 600px;
    height: 2.2em;
    color: rgb(67, 178, 245);
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
#setting span {
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    font-weight: 500px;
    margin: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.selected, #reset:hover, mode.hover {
    background-color: rgb(105, 115, 121);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
#message {
    color: black;
    font-size: 1em;
    flex-grow: 2;
}

span {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Arimo', sans-serif;
    margin-left: 10px;
}