html {
    background-color: rgb(200, 200, 180);
}

h1, h2 {
    color: rgb(10, 10, 10);
    position: center;
    font: arial;
    size: 200px;
    text-align: center;}

input{
    border-radius: 15px;
    background-color: rgb(216, 222, 186);
    text-align: center;
    display:block;
    margin:0 auto;
    font-size: 25px;
}
button {
    background-color: rgb(16, 176, 216);
    color: rgb(50, 50, 50);
    width: 200px;
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    display:block;
    margin:0 auto;
    }

#result_1, #result_2 {
    color: rgb(10, 10, 10);
    font: arial;
    font-weight: bold;
    font-size: 30px;}

.buttt button {
    /* display: flex; */
    background-color: rgb(120, 150, 70);
    align-items: center;
    /* justify-content: center; */
    /* flex-direction: row; */
    width: 330px;
    height: 35px;}

